$blue1: #1270ad;
$blue2: #2285b8;
$blue3: #0a6c94;


body {

.custom-header {
	background: $blue1 url(https://2019-sinemorets.retreat.wordcamp.org/files/2019/07/sinemorets_header_bck.jpg);
	height: 450px;
	&:before {
		background-image: unset;
		background: url(https://2019-sinemorets.retreat.wordcamp.org/files/2019/07/header_bottom.png);
		background-size: cover;
		height: 300px;
	}
}
.main-navigation {
	background: $blue3;
}

}
