$blue-light: #1270ad;
$blue-mid: #2285b8;
$blue-dark: #0a6c94;

$violet-light: #332155;
$violet-dark: #221244;


body {
	.site-header .site-branding {
		@media (min-width: 37.5em) {
			padding-top: 100px;
		}
	}
	.custom-header {
		background: $blue-light url(https://2019-sinemorets.retreat.wordcamp.org/files/2019/07/sinemorets_header_bck.jpg);
		height: 450px;
		&:before {
			background-image: unset;
			background: url(https://2019-sinemorets.retreat.wordcamp.org/files/2019/07/sinemorets_header_bottom_bck.png);
			background-size: cover;
			height: 300px;
			@media (max-width: 500px) {
			    background-position: 49% bottom;
			}
		}
	}
	.main-navigation {
		background: $blue-dark;
	}
	.menu_english {
		background: $violet-light;
	}
	
}
